@tailwind base;
@tailwind components;
@tailwind utilities;

@layer{

body{
  width: 100%; 
  overflow: auto;
  font-size: 0.825rem;
@apply bg-white dark:bg-gray-950 text-gray-600 dark:text-gray-300;
}

}
*,*:after,*:before{
  box-sizing: border-box;
  transition: background-color 0.3s ease;
  margin: 0;
  padding: 0;


}